

body {
    background-color: #c48778;
    display: block;
    justify-content: center;

}

#titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    color: #90353b
}

form {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 7px;
    padding-bottom: 30px;
}

fieldset {
    color: #90353b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    align-items: center;
    width: 100%;;    
}

input, select, button {
    width: 100%;
    padding: 0;
    border: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    height: 30px;
    border-radius: 10px;
    color: #90353b;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

button{
    font-size: 1.2em;
    background: #90353b;
    color: #c48778;
    border: solid 1px #90353b;
}

button:hover {
    background: #c48778;
    color: #90353b
}

label {
    margin-bottom: 25px;
}

.footer-box {
    display: inline;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    padding-bottom: 5px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #90353b;
    padding-bottom: 5px;
}

.socials {
    display: block;
    width: auto;
}

li {
    display: inline-flex;
    padding: 3px;
}

a {
    color: white
}

a:hover {
    color: #90353b;
}

.print {
    display: none;
}

@media print {
    .recibo,
    form,
    .footer-box { display: none; };

    .print {
        display: block;
    }
   }