.print {
    display: none;
}

body {
    background-color: #c48778;

    display: block;
    justify-content: center;

}

#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    color: #90353b
}

form {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 7px;

}

fieldset {
    color: #90353b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    align-items: center;
    width: 100%;;    
}

input, select, button {
    width: 100%;
    padding: 0;
    border: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    height: 30px;
    border-radius: 10px;
    color: #90353b;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}

button{
    font-size: 1.2em;
    background: #90353b;
    color: #c48778;
    border: solid 1px #90353b;
}

button:hover {
    background: #c48778;
    color: #90353b
    

}

label {
    margin-bottom: 25px;
}

.footer-box {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%);        
}

.footer-box li {
   
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white
}